<h3 class="p-l-20 p-t-15">Colors</h3>

<div class="container">

    <div class="row">

      <mefdev-card-simple class="col-xl-3">

        <div class="p-t-25">
                  <textarea disabled="true" style="width: 100%; height: 195px; overflow: hidden; resize: none">
           .color-black {
              color: $Black-Color !important;
           }

           .b-color-black {
              background-color: $Black-Color !important;
           }
                  </textarea>
        </div>

        <div style="display: flex; flex-direction: column; margin: 15px; border: #000000 solid 1px">
          <div style="background: #000000; width: 100%; height: 50px"></div>
          <div style="display: flex; justify-content: center">
            Black #000000
          </div>
        </div>
      </mefdev-card-simple>

      <mefdev-card-simple class="col-xl-3">

        <div class=" p-t-25">
                    <textarea disabled="true" style="width: 100%; height: 195px; overflow: hidden; resize: none">
  .color-Dark-Gray-1 {
      color: $Dark-Gray-1 !important;
  }

  .b-color-Dark-Gray-1 {
      background-color: $Dark-Gray-1 !important;
  }
                    </textarea>
        </div>

        <div style="display: flex; flex-direction: column; margin: 15px; border: #000000 solid 1px;">
          <div style="background: #373737; width: 100%; height: 50px">
          </div>
          <div style="display: flex; justify-content: center">
            Dark Gray 1 #373737
          </div>
        </div>
      </mefdev-card-simple>

      <mefdev-card-simple class="col-xl-3">

        <div class=" p-t-25">
                    <textarea
                      disabled="true"
                      style="width: 100%; height: 195px; overflow: hidden; resize: none"
                    >
  .color-Dark-Gray-2 {
      color: $Dark-Gray-2 !important;
  }

  .b-color-Dark-Gray-2 {
      background-color: $Dark-Gray-2 !important;
  }
                    </textarea>
        </div>

        <div style="display: flex; flex-direction: column; margin: 15px; border: #4D4D4D solid 1px;">
          <div style="background: #4D4D4D; width: 100%; height: 50px">
          </div>
          <div style="display: flex; justify-content: center">
            Dark Gray 2 #4D4D4D
          </div>
        </div>
      </mefdev-card-simple>

      <mefdev-card-simple class="col-xl-3">

        <div class=" p-t-25">
                    <textarea
                      disabled="true"
                      style="width: 100%; height: 195px; overflow: hidden; resize: none"
                    >
  .color-Red {
      color: $Red !important;
  }

  .b-color-Red {
      background-color: $Red !important;
  }
                    </textarea>
        </div>

        <div style="display: flex; flex-direction: column; margin: 15px; border: #CF0106 solid 1px;">
          <div style="background: #CF0106; width: 100%; height: 50px">
          </div>
          <div style="display: flex; justify-content: center">
            Red  #CF0106
          </div>
        </div>
      </mefdev-card-simple>

      <mefdev-card-simple class="col-xl-3">

        <div class=" p-t-25">
                    <textarea
                      disabled="true"
                      style="width: 100%; height: 195px; overflow: hidden; resize: none"
                    >
  .color-Green {
     color: $Green !important;
  }

  .b-color-Green{
     background-color: $Green !important;
  }
                    </textarea>
        </div>

        <div style="display: flex; flex-direction: column; margin: 15px; border: #28B446 solid 1px;">
          <div style="background: #28B446; width: 100%; height: 50px">
          </div>
          <div style="display: flex; justify-content: center">
            Green #28B446
          </div>
        </div>
      </mefdev-card-simple>

      <mefdev-card-simple class="col-xl-3">

        <div class=" p-t-25">
                    <textarea
                      disabled="true"
                      style="width: 100%; height: 195px; overflow: hidden; resize: none"
                    >
  .color-Light-Gray-1 {
     color: $Light-Gray-1 !important;
  }

  .b-color-Light-Gray-1 {
     background-color: $Light-Gray-1 !important;
  }
                    </textarea>
        </div>

        <div style="display: flex; flex-direction: column; margin: 15px; border: #929292 solid 1px;">
          <div style="background: #929292; width: 100%; height: 50px">
          </div>
          <div style="display: flex; justify-content: center">
            Light Gray 1 #929292
          </div>
        </div>
      </mefdev-card-simple>

      <mefdev-card-simple class="col-xl-3">

        <div class=" p-t-25">
                    <textarea
                      disabled="true"
                      style="width: 100%; height: 195px; overflow: hidden; resize: none"
                    >
  .color-Light-Gray-2 {
     color: $Light-Gray-2 !important;
  }

  .b-color-Light-Gray-2 {
     background-color: $Light-Gray-2 !important;
  }
                    </textarea>
        </div>

        <div style="display: flex; flex-direction: column; margin: 15px; border: #EAEAEA solid 1px;">
          <div style="background: #EAEAEA; width: 100%; height: 50px">
          </div>
          <div style="display: flex; justify-content: center">
            Light Gray 2 #EAEAEA
          </div>
        </div>
      </mefdev-card-simple>

      <mefdev-card-simple class="col-xl-3">

        <div class=" p-t-25">
                    <textarea
                      disabled="true"
                      style="width: 100%; height: 195px; overflow: hidden; resize: none"
                    >
  .color-Light-Gray-3 {
     color: $Light-Gray-3 !important;
  }

  .b-color-Light-Gray-3 {
     background-color: $Light-Gray-3 !important;
  }
                    </textarea>
        </div>

        <div style="display: flex; flex-direction: column; margin: 15px; border: #EAEAEA solid 1px;">
          <div style="background: #F3F3F3; width: 100%; height: 50px">
          </div>
          <div style="display: flex; justify-content: center">
            Light Gray 3 #F3F3F3
          </div>
        </div>
      </mefdev-card-simple>

      <mefdev-card-simple class="col-xl-3">

        <div class=" p-t-25">
                    <textarea
                      disabled="true"
                      style="width: 100%; height: 185px; overflow: hidden; resize: none"
                    >
  .color-White {
      color: $White !important;
  }

  .b-color-White {
      background-color: $White !important;
  }
                    </textarea>
        </div>

        <div style="display: flex; flex-direction: column; margin: 15px; border: #929292 solid 1px;">
          <div style="background: #FFFFFF; width: 100%; height: 50px">
          </div>
          <div style="display: flex; justify-content: center">
            White #FFFFFF
          </div>
        </div>
      </mefdev-card-simple>

      <mefdev-card-simple class="col-xl-3">

        <div class=" p-t-25">
                    <textarea
                      disabled="true"
                      style="width: 100%; height: 185px; overflow: hidden; resize: none"
                    >
  .color-Link {
      color: $Link !important;
  }

  .b-color-Link {
      background-color: $Link !important;
  }
                    </textarea>
        </div>

        <div style="display: flex; flex-direction: column; margin: 15px; border: #0185CF solid 1px;">
          <div style="background: #0185cf; width: 100%; height: 50px">
          </div>
          <div style="display: flex; justify-content: center">
            Link #0185CF
          </div>
        </div>
      </mefdev-card-simple>

      <mefdev-card-simple class="col-xl-3">

        <div class=" p-t-25">
                    <textarea
                      disabled="true"
                      style="width: 100%; height: 185px; overflow: hidden; resize: none"
                    >
  .color-dark-link{
      color: $Link-on-dark !important;
  }

  .b-color-dark-link{
      background-color: $Link-on-dark !important;
  }
                    </textarea>
        </div>

        <div style="display: flex; flex-direction: column; margin: 15px; border: #50C0FF solid 1px;">
          <div style="background: #50C0FF; width: 100%; height: 50px">
          </div>
          <div style="display: flex; justify-content: center">
            Link on dark #50C0FF
          </div>
        </div>
      </mefdev-card-simple>
    </div>

</div>
