    <h3 class="p-l-20 p-t-15">Card Simple</h3>
    <div class="container">
        <medev-card-simple>
            <ng-template #card_title> 
                Card title
              </ng-template>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" >
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Information</label>
                        <input class="form-control" >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Information</label>
                        <textarea 
                            rows="5" class="form-control" maxlength="70" style="resize: none;">
                        </textarea>
                    </div>
                </div>
            </div>
        </medev-card-simple>





        <div class="row">

            <div class="col-md-5 p-t-15">
                <medev-card-simple>
                    <ng-template #card_title> 
                        Card title
                      </ng-template>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Information</label>
                                <input class="form-control" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Information</label>
                                <textarea 
                                    rows="5" class="form-control" maxlength="70" style="resize: none;">
                                </textarea>
                            </div>
                        </div>
                    </div>
                </medev-card-simple>
            </div>


            <div class="col-md-4 p-t-15">
                <medev-card-simple>
                    <ng-template #card_title> 
                        Card title
                      </ng-template>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Information</label>
                                <input class="form-control" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Information</label>
                                <textarea 
                                    rows="5" class="form-control" maxlength="70" style="resize: none;">
                                </textarea>
                            </div>
                        </div>
                    </div>
                </medev-card-simple>
            </div>


            <div class="col-md-3 p-t-15">
                <medev-card-simple>
                    <ng-template #card_title> 
                        Card title
                      </ng-template>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" >
                            </div>
                        </div>
                       
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Information</label>
                                <textarea 
                                    rows="5" class="form-control" maxlength="70" style="resize: none;">
                                </textarea>
                            </div>
                        </div>
                    </div>
                </medev-card-simple>
            </div>
            
        </div>
        
    </div>



