<h3 class="p-l-20 p-t-15">typography</h3>
<div class="container">
<div class="row">
<medev-card-simple>
    <div style="display:flex">
        <div class="col-md-6">
            <h2 style="font: 20px sans-serif; margin: 5px 5px 15px 5px">
              Type Scale
            </h2>
            <p class="body-4 m-5px">
              Pages type scale includes a range of contrasting styles that support
              the needs of your product and its content. The type scale is a
              combination of 6 styles that are supported by the type system. It
              contains reusable categories of text, each with an intended
              application and meaning. You can use them by writing
              <strong>"h1-h6"</strong> tags, or by specifying them as a class
              attribute
            </p>
            <textarea
              disabled="true"
              style="width: 100%; height: 100px; overflow: hidden; resize: none"
            >
        <h1>h1 Lorem ipsum dolor sit amet.</h1>
        <p class="h1">h1 Lorem ipsum dolor sit amet.</p>
                        </textarea
            >
            </div>
    
        <div class="m-l-20 col-md-5" style="min-height: 350px;">
            <p class="h1">h1 Lorem ipsum dolor sit amet.</p>
            <hr />
            <p class="h2">h1 Lorem ipsum dolor sit amet.</p>
            <hr />
            <p class="h3">h1 Lorem ipsum dolor sit amet.</p>
            <hr />
            <p class="h4">h1 Lorem ipsum dolor sit amet.</p>
            <hr />
            <p class="h5">h1 Lorem ipsum dolor sit amet.</p>
            <hr />
            <p class="h6">h6 Lorem ipsum dolor sit amet.</p>
          </div>

    </div>
</medev-card-simple>
</div>   

<div class="row p-t-20">
    <medev-card-simple>
        <div style="display: flex;">
            <div class="col-md-5">
                <div style=" margin: 10px; padding: 10px;">
                    <p class="body-1">body-1 Lorem ipsum dolor sit amet.</p>
                    <hr />
                    <p class="body-2">body-2 Lorem ipsum dolor sit amet.</p>
                    <hr />
                    <p class="body-3">body-3 Lorem ipsum dolor sit amet.</p>
                    <hr />
                    <p class="body-4">body-4 Lorem ipsum dolor sit amet.</p>
                    <hr />
                    <p class="body-5">body-5 Lorem ipsum dolor sit amet.</p>
                    <hr />
                    <p class="body-6">body-6 Lorem ipsum dolor sit amet.</p>
                  </div>
  
            </div>

            <div class="col-md-6 m-l-20">
                <div>
                <p class="body-4 m-5px">
                    Pages type scale includes a range of contrasting styles that support
                    the needs of your product and its content. The type scale is a
                    combination of 6 styles that are supported by the type system. It
                    contains reusable categories of text, each with an intended
                    application and meaning. You can use them by writing
                    <strong>"body-1 - body-6</strong> as a class attribute
                  </p>
                  <textarea
                    disabled="true"
                    style="width: 100%; height: 100px; overflow: hidden; resize: none"
                  >
              <p class="body-1">body-1 Lorem ipsum dolor sit amet.</p>
                          </textarea
                  >
                </div>
            </div>

        </div>
    </medev-card-simple>
    
</div>   

<div class="row p-t-20">
    <medev-card-simple>
        <div style="display: flex;">
            <div class="col-md-4">
                <h2 style="font: 20px sans-serif; margin: 5px 5px 15px 5px">
                    Paint the world
                  </h2>
                  <p class="body-4 m-5px">
                    Color can be a wonderful tool for making your dashboard less stressful
                    and more calming and it can have a significant impact on your mood and
                    well-being, We made it with you in mind
                  </p>
          
                  <textarea
                    disabled="true"
                    style="width: 100%; height: 150px; overflow: hidden; resize: none"
                  >
           .color-Dark-Gray-2{
               color: $Dark-Gray-2 !important;
           }           
           
           .b-color-Dark-Gray-1{
              background-color: $Dark-Gray-1 !important;
          }
                  </textarea>
            </div>

            <div class="col-md-8 m-l-20">
                <div class="p-t-10 p-l-15 d-flex" style="flex-wrap: wrap">

                    <div style="display: flex; flex-direction: column; margin: 15px;border: #000000 solid 1px;">
                        <div class="col-md-2" style="background: #000000; width: 145px; height: 50px">
                        </div>
                        <div style="display: flex; justify-content: center">
                            Black #000000
                        </div>
                    </div>
                        
                    <div style="display: flex; flex-direction: column; margin: 15px; border: #373737 solid 1px;">
                        <div class="col-md-2" style="background: #373737; width: 145px; height: 50px">
                        </div>
                        <div style="display: flex; justify-content: center">
                            Dark Gray 1 #373737
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: column; margin: 15px; border: #4d4d4d solid 1px;">
                        <div class="col-md-2" style="background: #4d4d4d; width: 145px; height: 50px">
                        </div>
                        <div style="display: flex; justify-content: center">
                            Dark Gray 2 #4D4D4D
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: column; margin: 15px; border: #cf0106 solid 1px;">
                        <div class="col-md-2" style="background: #cf0106; width: 145px; height: 50px">
                        </div>
                        <div style="display: flex; justify-content: center">
                            Red #CF0106
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: column; margin: 15px; border: #28b446 solid 1px;">
                        <div class="col-md-2" style="background: #28b446; width: 145px; height: 50px">
                        </div>
                        <div style="display: flex; justify-content: center">
                            Green #28B446
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: column; margin: 15px; border: #929292 solid 1px;">
                        <div class="col-md-2" style="background: #929292; width: 145px; height: 50px">
                        </div>
                        <div style="display: flex; justify-content: center">
                            Light Gray 1 #929292
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: column; margin: 15px; border: #000 solid 1px;">
                        <div class="col-md-2" style="background: #eaeaea; width: 145px; height: 50px">
                        </div>
                        <div style="display: flex; justify-content: center; border-top: #000 solid 1px; ">
                            Light Gray 2 #EAEAEA
                        </div>
                    </div>

                    <div style=" display: flex; flex-direction: column; margin: 15px; border: #000 solid 1px;">
                        <div class="col-md-2" style="background: #f3f3f3; width: 145px; height: 50px">
                        </div>
                        <div style="display: flex; justify-content: center; border-top: #000 solid 1px;">
                            Light Gray 3 #F3F3F3
                        </div>
                    </div>

                    <div style=" display: flex; flex-direction: column; margin: 15px; border: #000 solid 1px;">
                        <div class="col-md-2" style="background: #ffffff; width: 145px; height: 50px">
                        </div>
                        <div style=" display: flex; justify-content: center; border-top: #000 solid 1px;">
                            White #FFFFFF
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: column; margin: 15px; border: #0185cf solid 1px;">
                        <div class="col-md-2" style="background: #0185cf; width: 145px; height: 50px">
                        </div>
                        <div style="display: flex; justify-content: center">
                            Link #0185CF
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: column; margin: 15px; border: #50c0ff solid 1px;">
                        <div class="col-md-2" style="background: #50c0ff; width: 145px; height: 50px">
                        </div>
                        <div style="display: flex; justify-content: center">
                            Link on dark #50C0FF
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </medev-card-simple>
</div>