<h3 class="p-l-20 p-t-15">typography</h3>
<div class="row">
  <mefdev-card-simple>
      <div style="display:flex">
          <div class="col-md-6">
              <h2 style="font: 20px sans-serif; margin: 5px 5px 15px 5px">
                Type Scale
              </h2>
              <p class="body-4 m-5px">
                Pages type scale includes a range of contrasting styles that support
                the needs of your product and its content. The type scale is a
                combination of 6 styles that are supported by the type system. It
                contains reusable categories of text, each with an intended
                application and meaning. You can use them by writing
                <strong>"h1-h6"</strong> tags, or by specifying them as a class
                attribute
              </p>
              <textarea
                disabled="true"
                style="width: 100%; height: 100px; overflow: hidden; resize: none"
              >
          <h1>h1 Lorem ipsum dolor sit amet.</h1>
          <p class="h1">h1 Lorem ipsum dolor sit amet.</p>
                          </textarea
              >
              </div>

          <div class="m-l-20 col-md-5" style="min-height: 350px;">
              <p class="h1">h1 Lorem ipsum dolor sit amet.</p>
              <hr />
              <p class="h2">h1 Lorem ipsum dolor sit amet.</p>
              <hr />
              <p class="h3">h1 Lorem ipsum dolor sit amet.</p>
              <hr />
              <p class="h4">h1 Lorem ipsum dolor sit amet.</p>
              <hr />
              <p class="h5">h1 Lorem ipsum dolor sit amet.</p>
              <hr />
              <p class="h6">h6 Lorem ipsum dolor sit amet.</p>
            </div>

      </div>
  </mefdev-card-simple>
</div>

<div class="row p-t-20">
  <mefdev-card-simple>
    <div style="display: flex;">
      <div class="col-md-5">
        <div style=" margin: 10px; padding: 10px;">
          <p class="body-1">body-1 Lorem ipsum dolor sit amet.</p>
          <hr />
          <p class="body-2">body-2 Lorem ipsum dolor sit amet.</p>
          <hr />
          <p class="body-3">body-3 Lorem ipsum dolor sit amet.</p>
          <hr />
          <p class="body-4">body-4 Lorem ipsum dolor sit amet.</p>
          <hr />
          <p class="body-5">body-5 Lorem ipsum dolor sit amet.</p>
          <hr />
          <p class="body-6">body-6 Lorem ipsum dolor sit amet.</p>
        </div>
      </div>

      <div class="col-md-6 m-l-20">
        <p class="body-4 m-5px">
          Pages type scale includes a range of contrasting styles that support
          the needs of your product and its content. The type scale is a
          combination of 6 styles that are supported by the type system. It
          contains reusable categories of text, each with an intended
          application and meaning. You can use them by writing
          <strong>"body-1 - body-6</strong> as a class attribute
        </p>
        <textarea
          disabled="true"
          style="width: 100%; height: 100px; overflow: hidden; resize: none"
        >
          <p class="body-1">body-1 Lorem ipsum dolor sit amet.</p>
        </textarea
        >
      </div>

    </div>
  </mefdev-card-simple>

</div>

