<nav class="sidenav navbar navbar-light bg-light" aria-label="Primary">
    <a class="sidenav__brand text-decoration-none" [routerLink]="brand.to">
        <span class="fs-5">{{ brand.label }}</span>
    </a>
    <div class="p-2">
        <md-switch class="align-middle" [ngModel]="showDeprecated()" (ngModelChange)="showDeprecated.set($event)" />
        <span class="ps-1 align-middle">Show deprecated</span>
    </div>
    <hr class="sidenav__divider" />

    <ul class="sidenav__list" role="list">
        <li class="sidenav__section" *ngFor="let sec of sectionsWithFilteredLinks(); trackBy: trackSection">
            <span class="sidenav__title">{{ sec.title }}</span>

            <ul class="sidenav__sublist" role="list">
                <li *ngFor="let link of sec.links; trackBy: trackLink">
                    <a
                        class="sidenav__link text-decoration-none"
                        [routerLink]="link.to"
                        routerLinkActive="is-active"
                        [routerLinkActiveOptions]="{ exact: true }"
                        >{{ link.label }}</a
                    >
                </li>
            </ul>

            <hr class="sidenav__divider" />
        </li>
    </ul>
</nav>
