<h1>Colors</h1>

<div class="row g-4">

<!-- Black -->
<div class="col-xl-3 col-lg-4 col-md-6">
  <mefdev-card-simple>
    <div class="p-3">
<pre class="mb-3"><code>.color-black {{ '{' }} color: $Black-Color !important; {{ '}' }}
.b-color-black {{ '{' }} background-color: $Black-Color !important; {{ '}' }}</code></pre>
      <div class="mb-2 rounded border" style="border: 2px solid #000000;">
        <div class="w-100" style="background:#000000; height:50px;"></div>
      </div>
      <div class="text-center small">Black #000000</div>
    </div>
  </mefdev-card-simple>
</div>

<!-- Dark Gray 1 -->
<div class="col-xl-3 col-lg-4 col-md-6">
  <mefdev-card-simple>
    <div class="p-3">
<pre class="mb-3"><code>.color-dark-gray-1 {{ '{' }} color: $Dark-Gray-1 !important; {{ '}' }}
.b-color-dark-gray-1 {{ '{' }} background-color: $Dark-Gray-1 !important; {{ '}' }}</code></pre>
      <div class="mb-2 rounded border" style="border: 2px solid #373737;">
        <div class="w-100" style="background:#373737; height:50px;"></div>
      </div>
      <div class="text-center small">Dark Gray 1 #373737</div>
    </div>
  </mefdev-card-simple>
</div>

<!-- Dark Gray 2 -->
<div class="col-xl-3 col-lg-4 col-md-6">
  <mefdev-card-simple>
    <div class="p-3">
<pre class="mb-3"><code>.color-dark-gray-2 {{ '{' }} color: $Dark-Gray-2 !important; {{ '}' }}
.b-color-dark-gray-2 {{ '{' }} background-color: $Dark-Gray-2 !important; {{ '}' }}</code></pre>
      <div class="mb-2 rounded border" style="border: 2px solid #4D4D4D;">
        <div class="w-100" style="background:#4D4D4D; height:50px;"></div>
      </div>
      <div class="text-center small">Dark Gray 2 #4D4D4D</div>
    </div>
  </mefdev-card-simple>
</div>

<!-- Dark Gray 3 -->
<div class="col-xl-3 col-lg-4 col-md-6">
  <mefdev-card-simple>
    <div class="p-3">
<pre class="mb-3"><code>.color-dark-gray-3 {{ '{' }} color: $Dark-Gray-3 !important; {{ '}' }}
.b-color-dark-gray-3 {{ '{' }} background-color: $Dark-Gray-3 !important; {{ '}' }}</code></pre>
      <div class="mb-2 rounded border" style="border: 2px solid #BDBDBD;">
        <div class="w-100" style="background:#BDBDBD; height:50px;"></div>
      </div>
      <div class="text-center small">Dark Gray 3 #BDBDBD</div>
    </div>
  </mefdev-card-simple>
</div>

<!-- Red -->
<div class="col-xl-3 col-lg-4 col-md-6">
  <mefdev-card-simple>
    <div class="p-3">
<pre class="mb-3"><code>.color-red {{ '{' }} color: $Red !important; {{ '}' }}
.b-color-red {{ '{' }} background-color: $Red !important; {{ '}' }}</code></pre>
      <div class="mb-2 rounded border" style="border: 2px solid #CF0106;">
        <div class="w-100" style="background:#CF0106; height:50px;"></div>
      </div>
      <div class="text-center small">Red #CF0106</div>
    </div>
  </mefdev-card-simple>
</div>

<!-- Green -->
<div class="col-xl-3 col-lg-4 col-md-6">
  <mefdev-card-simple>
    <div class="p-3">
<pre class="mb-3"><code>.color-green {{ '{' }} color: $Green !important; {{ '}' }}
.b-color-green {{ '{' }} background-color: $Green !important; {{ '}' }}</code></pre>
      <div class="mb-2 rounded border" style="border: 2px solid #28B446;">
        <div class="w-100" style="background:#28B446; height:50px;"></div>
      </div>
      <div class="text-center small">Green #28B446</div>
    </div>
  </mefdev-card-simple>
</div>

<!-- Yellow -->
<div class="col-xl-3 col-lg-4 col-md-6">
  <mefdev-card-simple>
    <div class="p-3">
<pre class="mb-3"><code>.color-yellow {{ '{' }} color: $Yellow !important; {{ '}' }}
.b-color-yellow {{ '{' }} background-color: $Yellow !important; {{ '}' }}</code></pre>
      <div class="mb-2 rounded border" style="border: 2px solid #ffc107;">
        <div class="w-100" style="background:#ffc107; height:50px;"></div>
      </div>
      <div class="text-center small">Yellow #ffc107</div>
    </div>
  </mefdev-card-simple>
</div>

<!-- Light Gray 1 -->
<div class="col-xl-3 col-lg-4 col-md-6">
  <mefdev-card-simple>
    <div class="p-3">
<pre class="mb-3"><code>.color-light-gray-1 {{ '{' }} color: $Light-Gray-1 !important; {{ '}' }}
.b-color-light-gray-1 {{ '{' }} background-color: $Light-Gray-1 !important; {{ '}' }}</code></pre>
      <div class="mb-2 rounded border" style="border: 2px solid #929292;">
        <div class="w-100" style="background:#929292; height:50px;"></div>
      </div>
      <div class="text-center small">Light Gray 1 #929292</div>
    </div>
  </mefdev-card-simple>
</div>

<!-- Light Gray 2 -->
<div class="col-xl-3 col-lg-4 col-md-6">
  <mefdev-card-simple>
    <div class="p-3">
<pre class="mb-3"><code>.color-light-gray-2 {{ '{' }} color: $Light-Gray-2 !important; {{ '}' }}
.b-color-light-gray-2 {{ '{' }} background-color: $Light-Gray-2 !important; {{ '}' }}</code></pre>
      <div class="mb-2 rounded border" style="border: 2px solid #EAEAEA;">
        <div class="w-100" style="background:#EAEAEA; height:50px;"></div>
      </div>
      <div class="text-center small">Light Gray 2 #EAEAEA</div>
    </div>
  </mefdev-card-simple>
</div>

<!-- Light Gray 3 -->
<div class="col-xl-3 col-lg-4 col-md-6">
  <mefdev-card-simple>
    <div class="p-3">
<pre class="mb-3"><code>.color-light-gray-3 {{ '{' }} color: $Light-Gray-3 !important; {{ '}' }}
.b-color-light-gray-3 {{ '{' }} background-color: $Light-Gray-3 !important; {{ '}' }}</code></pre>
      <div class="mb-2 rounded border" style="border: 2px solid #F3F3F3;">
        <div class="w-100" style="background:#F3F3F3; height:50px;"></div>
      </div>
      <div class="text-center small">Light Gray 3 #F3F3F3</div>
    </div>
  </mefdev-card-simple>
</div>

<!-- White -->
<div class="col-xl-3 col-lg-4 col-md-6">
  <mefdev-card-simple>
    <div class="p-3">
<pre class="mb-3"><code>.color-white {{ '{' }} color: $White !important; {{ '}' }}
.b-color-white {{ '{' }} background-color: $White !important; {{ '}' }}</code></pre>
      <div class="mb-2 rounded border" style="border: 2px solid #929292;">
        <div class="w-100" style="background:#FFFFFF; height:50px;"></div>
      </div>
      <div class="text-center small">White #FFFFFF</div>
    </div>
  </mefdev-card-simple>
</div>

<!-- Link -->
<div class="col-xl-3 col-lg-4 col-md-6">
  <mefdev-card-simple>
    <div class="p-3">
<pre class="mb-3"><code>.color-link {{ '{' }} color: $Link !important; {{ '}' }}
.b-color-link {{ '{' }} background-color: $Link !important; {{ '}' }}</code></pre>
      <div class="mb-2 rounded border" style="border: 2px solid #6d5cae;">
        <div class="w-100" style="background:#6d5cae; height:50px;"></div>
      </div>
      <div class="text-center small">Link #6d5cae</div>
    </div>
  </mefdev-card-simple>
</div>

<!-- Link on dark -->
<div class="col-xl-3 col-lg-4 col-md-6">
  <mefdev-card-simple>
    <div class="p-3">
<pre class="mb-3"><code>.color-link-on-dark {{ '{' }} color: $Link-on-dark !important; {{ '}' }}
.b-color-link-on-dark {{ '{' }} background-color: $Link-on-dark !important; {{ '}' }}</code></pre>
      <div class="mb-2 rounded border" style="border: 2px solid #0185CF;">
        <div class="w-100" style="background:#0185CF; height:50px;"></div>
      </div>
      <div class="text-center small">Link on dark #0185CF</div>
    </div>
  </mefdev-card-simple>
</div>

</div>
