<h3 class="p-l-20 p-t-15">Card Long</h3>

<mefdev-card-long
  type_text="Type"
  type_color="RED"
  [img]="'assets/imgs/store/Frame 529.png'"
>
  <ng-template #title>
    <h3 class="m-0">Title</h3>
  </ng-template>

  <ng-template #params>
    <div class="row">
      <div class="col">Description</div>
    </div>
    <div class="row">
      <div class="col">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis,
        dolore.
      </div>
    </div>
  </ng-template>

  <ng-template #second_col>
    <div class="form-group">Second column content</div>

    <div class="row mt-2">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
        ipsa aspernatur aut optio dolores? Magnam non ad maxime maiores odit?
      </div>

      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
        ducimus debitis. Placeat minus eveniet amet. Autem itaque perspiciatis
        tenetur vero.
      </div>
    </div>
  </ng-template>

  <ng-template #third_col>
    <div></div>
    <div class="form-group">Third Column content</div>
    <div class="col">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
      ducimus debitis. Placeat minus eveniet amet. Autem itaque perspiciatis
      tenetur vero.
    </div>
  </ng-template>
</mefdev-card-long>

<mefdev-card-long
  type_text="Type"
  type_color="RED"
  [img]="'assets/imgs/store/Frame 529.png'"
>
  <ng-template #title>
    <h3 class="m-0">Title</h3>
  </ng-template>

  <ng-template #params>
    <div class="row">
      <div class="col">Description</div>
    </div>
    <div class="row">
      <div class="col">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis,
        dolore.
      </div>
    </div>
  </ng-template>

  <ng-template #second_col>
    <div class="form-group">Second column content</div>

    <div class="row mt-2">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
        ipsa aspernatur aut optio dolores? Magnam non ad maxime maiores odit?
      </div>
    </div>
  </ng-template>

  <ng-template #third_col>
    <div></div>
    <div class="form-group">Third Column content</div>
    <div class="col">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
      ducimus debitis. Placeat minus eveniet amet. Autem itaque perspiciatis
      tenetur vero.
    </div>
  </ng-template>
</mefdev-card-long>
