.modal-row {
  display: flex;
  flex-direction: column;
  row-gap: 19px;
}

.row, {
  row-gap: 21px;
}


mefdev-collapse {
  cursor: pointer;
}

.textareaControl {
  height: 130px;
  resize: none;
  overflow: hidden;
}
