
<nav class="navbar navbar-light bg-light b-color-Dark-Gray-1 whiteUl" style="width: 270px; font-size: 17px; position: sticky; height: 100vh; overflow-y: auto;">
    <ul  style="display: flex; flex-direction: column; list-style-type: none; color: white;">
        <a href="/app/home" class="d-flex align-items-center p-t-15 text-white text-decoration-none">
            <span class="fs-5 p-b-15">MefDev UI Kit Examples</span>
          </a>
        <li><a [routerLink]="'/app/home'">Home</a></li>
        <li><a [routerLink]="'/app/typography'">Typography</a></li>
        <hr>

        <li><a class="form">Page components</a>
            <ul style="display: flex; flex-direction: column; list-style-type: none;">
                <li><a [routerLink]="'/app/select'">Select</a></li>
                <li><a [routerLink]="'/app/switch'">Switch</a></li>
                <li><a [routerLink]="'/app/buttons'">Buttons</a></li>
                <li><a [routerLink]="'/app/tabset'">Tabset</a></li>
            </ul>
            <hr>
        </li>

        <li><a >Cards</a>
            <ul style="display: flex; flex-direction: column; list-style-type: none;">
                <li><a [routerLink]="'/app/card'"            >card</a></li>
                <li><a [routerLink]="'/app/card/card-simple'">card-simple</a></li>
                <li><a [routerLink]="'/app/card/card-long'"  >card-long</a></li>
            </ul>
            <hr>
        </li>

        <li><a >Collapse</a>
            <ul style="display: flex; flex-direction: column; list-style-type: none;">
                <li><a [routerLink]="'/app/collapse'">collapse</a></li>
            </ul>
            <hr>
        </li>

            <li><a >Modals</a>
                <ul style="display: flex; flex-direction: column; list-style-type: none;">
                    <li><a [routerLink]="'/app/modals/fill'"       >fill</a></li>
                    <!-- <li><a [routerLink]="'app/modals/right-filter">right-filter</a></li> -->
                    <li><a [routerLink]="'/app/modals/slide-right'">slide-right</a></li>
                    <li><a [routerLink]="'/app/modals/slide-up'"   >slide-up</a></li>
                </ul>
                <hr>
            </li>

        <li><a>Page layouts</a>
            <ul style="display: flex; flex-direction: column; list-style-type: none;">
                <li><a [routerLink]="'/app/page-layouts/central-page'">central Page</a></li>
                <li><a [routerLink]="'/app/page-layouts/menage-page'" >menage Page</a></li>
                <li><a [routerLink]="'/app/page-layouts/profile'"     >profile</a></li>
                <li><a [routerLink]="'/app/page-layouts/table-page'"  >table Page</a></li>
            </ul>
            <hr>
        </li>
            
        <li><a>Utils</a>
            <ul style="display: flex; flex-direction: column; list-style-type: none;">
                <li><a [routerLink]="'/app/utils/filtered-field'">filtered field</a></li>
                <li><a [routerLink]="'/app/utils/help-block'"    >help block</a></li>
            </ul>
            <hr>
        </li>
        <li></li>
        
    </ul>
</nav>