<h3 class="p-l-20 p-t-15">Collapse</h3>
<div class="container">

  <mefdev-collapse-set Accordion="true">

    <mefdev-collapse >
      <ng-template #CardTitle>
        Collapse
      </ng-template>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum incidunt dolore, officia dolorum, explicabo illo illum fugiat maiores dignissimos maxime architecto mollitia ab facilis dolorem in laudantium, aliquid quisquam quo quia. Reiciendis vel veritatis eligendi assumenda repudiandae error fuga, dicta et tempore molestiae impedit sint culpa ea explicabo qui! Nobis quas nihil officiis adipisci, maiores quam possimus deleniti molestias tempora, reprehenderit praesentium. Quaerat sunt officiis, laborum sint, ipsam quae iste aspernatur soluta necessitatibus animi voluptatum consequatur totam nihil quia cum impedit fugiat vel aut autem! Maiores assumenda doloremque explicabo minus saepe vero eveniet? Vitae quia cumque rem excepturi impedit optio.
    </mefdev-collapse>

    <mefdev-collapse Active="true">
      <ng-template #CardTitle>
        Collapse
      </ng-template>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero officia iste alias, dolore ex, vitae fugit id quod et, voluptatem ipsam? Consequatur, corporis vero id recusandae at sed praesentium minima.
    </mefdev-collapse>

  </mefdev-collapse-set>
</div>

