  <h1 id="-natec-mef-dev-ui-kit">@natec/mef-dev-ui-kit</h1>
  <h2 id="description">Description</h2>
  <p>This is Ui-kit-lib to create plugins according to the template and visual on the platform <a target="_blank" href="https://preview.mef.dev/">preview.mef.dev</a> with the help of ready made solutions.It provides users with the opportunity to explore and test various components and functionalities of the library before using them in their own projects.
  How to create your first Ui-package click <a target="_blank" href="https://mef.dev/dev_guides/first_ui_plugin.md">here</a></p>
  <p>Also you can check displaying of all the elements together here <a href="https://mef.dev/ui_kit_demo">UI-kit-demo</a>.</p>
  <p>This guide created for Angular@15 version project. Cause we will use packages compatible with Angular 15 version.</p>
  <h2 id="version-control">Version control</h2>
  <p>You can use the library on the following versions of Angular:</p>

    <table>
      <tr>
        <th>Angular/CLI</th>
        <th>@natec/mef-dev-ui-kit</th>
      </tr>
      <tr>
        <td>v.13</td>
        <td>v.1</td>
      </tr>
      <tr>
        <td>v.14</td>
        <td>v.14</td>
      </tr>
      <tr>
        <td>v.15</td>
        <td>v.15</td>
      </tr>
      <tr>
        <td>v.16</td>
        <td>v.16</td>
      </tr>
    </table>
  <h2 id="getting-started" class="gettingStartedMargin">Getting Started</h2>
  <h3 id="installing">Installing</h3>
  <p>  Firstly you need to install following packages:</p>

  <p> @natec/mef-dev-ui-kit: </p>
  <markdown style="margin-top: 15px">
      <code> &emsp;
        npm i @natec/mef-dev-ui-kit@15
      </code>
  </markdown>

  <p>Simple table extension with sorting, filtering, paging... for Angular apps. ngx-datatable: </p>
  <markdown>
      <code>
        npm i @swimlane/ngx-datatable@20
      </code>
  </markdown>

  <p>Sleek, intuitive, and powerful front-end framework for faster and easier web development. bootstrap:</p>
  <markdown>
    <code>
      npm i bootstrap@5
    </code>
  </markdown>

  <p>Ngx-bootstrap provides Bootstrap components powered by Angular, so you don&#39;t need to include original JS components.ngx-bootstrap:</p>
  <markdown>
    <code>
    npm i ngx-bootstrap@10
    </code>
  </markdown>

  <p>CSS font-family parser/stringifier. Font-awesome:</p>
  <markdown [lineOffset]="">
    <code>
      npm i font-awesome@4
    </code>
  </markdown>

  <h3 id="adding-dependencies-">Adding dependencies:</h3>
  <p>  Now you need to add path in your Angular.json file </p>
  <markdown>
    <code>
      &nbsp; "architect": {{'{'}}
      <br> &nbsp; &nbsp; "build": {{'{'}}
      <br> &nbsp; &nbsp; &nbsp; "options": {{'{'}}
      <br> &nbsp; &nbsp; &nbsp; &nbsp; "styles": [
      <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "node_modules/bootstrap/scss/bootstrap.scss",
      <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "node_modules/@natec/mef-dev-ui-kit/src/lib/styles/pg/core.scss",
      <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "node_modules/font-awesome/scss/font-awesome.scss",
      <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "src/styles.scss"
      <br> &nbsp; &nbsp; &nbsp; &nbsp; ]
      <br> &nbsp; &nbsp; &nbsp; {{'}'}}
      <br> &nbsp; &nbsp; {{'}'}}
      <br> &nbsp; {{'}'}}
    </code>
  </markdown>

  <h3 id="usage">Usage</h3>
  <p>Firstly, you need to import BrowserAnimationsModule in your app.module.ts </p>
  <markdown>
    <code>
      &nbsp; import {{'{'}} NgModule {{'}'}} from '@angular/core'; <br>
      &nbsp; import {{'{'}} BrowserModule {{'}'}} from '@angular/platform-browser'; <br>
      &nbsp; import {{'{'}} BrowserAnimationsModule {{'}'}} from '@angular/platform-browser/animations'; <br>

      &nbsp; import {{'{'}} AppRoutingModule {{'}'}} from './app-routing.module'; <br>
      &nbsp; import {{'{'}} AppComponent {{'}'}} from './app.component'; <br>

      &nbsp; @NgModule({{'{'}} <br>
      &nbsp; &nbsp; declarations: [AppComponent], <br>
      &nbsp; &nbsp; imports: [ <br>
      &nbsp; &nbsp; &nbsp; BrowserModule, <br>
      &nbsp; &nbsp; &nbsp; AppRoutingModule, <br>
      &nbsp; &nbsp; &nbsp; BrowserAnimationsModule <br>
      &nbsp; &nbsp; ], <br>
      &nbsp; &nbsp; providers: [], <br>
      &nbsp; &nbsp; bootstrap: [AppComponent] <br>
      &nbsp; {{'}'}}) <br>

      &nbsp; export class AppModule {{'{'}} {{'}'}}
    </code>
  </markdown>

  <p>You need to import Module from Ui-kit-lib installed earlier in your own module, and add to imports too.
  Example:</p>

  <markdown>
    <code>
      &nbsp; import {{'{'}} NgModule {{'}'}} from '@angular/core'; <br>
      &nbsp; import {{'{'}} CommonModule {{'}'}} from '@angular/common'; <br>
      &nbsp; import {{'{'}} MefDevCardModule {{'}'}} from '@natec/mef-dev-ui-kit'; <br>

      &nbsp; @NgModule({{'{'}} <br>
      &nbsp; &nbsp; declarations: [], <br>
      &nbsp; &nbsp; imports: [ <br>
      &nbsp; &nbsp; &nbsp; CommonModule, <br>
      &nbsp; &nbsp; &nbsp; MefDevCardModule, <br>
      &nbsp; &nbsp; ] <br>
      &nbsp; {{'}'}}) <br>

      &nbsp; export class CardsModule {{'{'}} {{'}'}}
    </code>
  </markdown>

  <p>After, you can use MefDev components in your project. Example of usage:</p>
  <markdown>
    <code class="lang-html">
      &nbsp; <span class="hljs-tag">&lt;<span class="hljs-name">mefdev-card</span> <br>
        &nbsp; &nbsp; <span class="hljs-attr">class</span>=<span class="hljs-string">"b-color-Light-Gray-2 pt-3"</span> <br>
        &nbsp; &nbsp; [<span class="hljs-attr">description</span>] = <span class="hljs-string">"'Description'"</span> <br>
        &nbsp; &nbsp; [<span class="hljs-attr">card_type</span>]=<span class="hljs-string">"'type'"</span> <br>
        &nbsp; &nbsp; [<span class="hljs-attr">img</span>]=<span class="hljs-string">"'assets/imgs/store/Frame 521.png'"</span>&gt;</span> <br>
        &nbsp; &nbsp; <span class="hljs-tag">&lt;<span class="hljs-name">ng-template</span> #<span class="hljs-attr">card_title</span>&gt;</span> <br>
        &nbsp; &nbsp; &nbsp; &nbsp; card_title <br>
        &nbsp; &nbsp; <span class="hljs-tag">&lt;<span class="hljs-name">/ng-template</span>&gt;</span> <br>
        &nbsp; &nbsp; <span class="hljs-tag">&lt;<span class="hljs-name">ng-template</span> #<span class="hljs-attr">card_footer</span>&gt;</span> <br>
        &nbsp; &nbsp; &nbsp; &nbsp; card_footer <br>
        &nbsp; &nbsp; <span class="hljs-tag">&lt;<span class="hljs-name">/ng-template</span>&gt;</span> <br>
      &nbsp; <span class="hljs-tag">&lt;<span class="hljs-name">/mefdev-card</span>&gt;</span>
    </code>
  </markdown>

  <h3 id="list-of-modules-you-can-import-in-your-project-">List of modules you can import in your project:</h3>
  <ul>
  <li>MefDevCardModule</li>
  <li>MefDevCollapseModule</li>
  <li>MefDevModalModule</li>
  <li>MefDevPageLayoutsModule</li>
  <li>MefDevFilteredFieldModule</li>
  <li>MefDevHelpBlockModule</li>
  <li>MefDevProgressModule</li>
  <li>MefDevSelectModule</li>
  <li>MefDevSwitchModule</li>
  <li>MefDevTabsModule</li>
  </ul>
  <blockquote>
  <p>Examples of other components you can find in this documentation in left menubar.</p>
  </blockquote>
  <h3 id="useful-links-">Useful links:</h3>
  <hr>
  <ul>
  <li>Documentation of the library: <a target="_blank" href="https://mef.dev/ui_kit">https://mef.dev/ui_kit</a></li>
  <li>Demo of the library: <a href="https://mef.dev/ui_kit_demo">https://mef.dev/ui_kit_demo</a></li>
  <li>Library package: <a target="_blank" href="https://www.npmjs.com/package/@natec/mef-dev-ui-kit">https://www.npmjs.com/package/@natec/mef-dev-ui-kit</a></li>
  <li>Ui-kit-lib at GitHub: <a target="_blank" href="https://github.com/mef-dev/ui-kit-demo.git">https://github.com/mef-dev/ui-kit-demo.git</a></li>
  </ul>
