<h1>Typography</h1>

<mefdev-card-simple>
  <div class="row">
    <div class="col-md-6">
      <h2>
        Type Scale
      </h2>
      <p class="body-4">
        Pages type scale includes a range of contrasting styles that support
        the needs of your product and its content. The type scale is a
        combination of 6 styles that are supported by the type system. It
        contains reusable categories of text, each with an intended
        application and meaning. You can use them by writing
        <strong>"h1-h6"</strong> tags, or by specifying them as a class
        attribute
      </p>
        <pre>
<code>  &lt;h1&gt;
    Lorem ipsum dolor sit amet.
  &lt;/h1&gt;

  &lt;p class=&quot;h1&quot;&gt;
    Lorem ipsum dolor sit amet.
  &lt;/p&gt;</code>
        </pre>
    </div>

    <div class="col-md-6" >
      <p class="h1">Lorem ipsum dolor sit amet.</p>
      <hr />
      <p class="h2">Lorem ipsum dolor sit amet.</p>
      <hr />
      <p class="h3">Lorem ipsum dolor sit amet.</p>
      <hr />
      <p class="h4">Lorem ipsum dolor sit amet.</p>
      <hr />
      <p class="h5">Lorem ipsum dolor sit amet.</p>
      <hr />
      <p class="h6">Lorem ipsum dolor sit amet.</p>
    </div>

  </div>  
</mefdev-card-simple>


<mefdev-card-simple class="mt-3">
    <div class="row">
      <div class="col-md-6">
          <p class="body-1">Lorem ipsum dolor sit amet.</p>
          <hr />
          <p class="body-2">Lorem ipsum dolor sit amet.</p>
          <hr />
          <p class="body-3">Lorem ipsum dolor sit amet.</p>
          <hr />
          <p class="body-4">Lorem ipsum dolor sit amet.</p>
          <hr />
          <p class="body-5">Lorem ipsum dolor sit amet.</p>
          <hr />
          <p class="body-6">Lorem ipsum dolor sit amet.</p>
      </div>

      <div class="col-md-6">
        <p class="body-4">
          Pages type scale includes a range of contrasting styles that support
          the needs of your product and its content. The type scale is a
          combination of 6 styles that are supported by the type system. It
          contains reusable categories of text, each with an intended
          application and meaning. You can use them by writing
          <strong>"body-1 - body-6</strong> as a class attribute
        </p>
        <pre>
<code>  &lt;p class=&quot;body-1&quot;&gt;
    Lorem ipsum dolor sit amet.
  &lt;/p&gt;</code>
        </pre>
      </div>

    </div>
  </mefdev-card-simple>
