<h3 class="p-l-20 p-t-15">buttons</h3>

<div style="display: flex; ">

    <div class="container">
        <div class="row">
            <medev-card-simple class="col-md-6">
                <div style="border-radius:10px ;">
                    <p class="form-group">Primary Button</p>
                    <p class="fs-14">Refer to class <strong style="color: gray;">btn-primary</strong> to get <strong style="color:gray;"> "Primary" </strong>button styles</p>
                    <textarea disabled="true" style="width: 100%; height: 70px; overflow: hidden; resize: none;">
<button type="button" class="btn btn-primary">
    Primary
</button>
                    </textarea>
                    <button type="button" class="btn btn-primary float-end">Primary</button>
                </div>
            </medev-card-simple>
            
            <medev-card-simple class="col-md-6">

                <div style="border-radius:10px ;">
                    <p class="form-group"> Secondary Button</p>
                    <p class="fs-14">Refer to class <strong style="color: gray;">btn-secondary</strong> to get <strong style="color:gray;"> "Secondary" </strong>button styles</p>
                    <textarea disabled="true" style="width: 100%; height: 70px; overflow: hidden; resize: none;">
<button type="button" class="btn btn-secondary">
    Secondary
</button>
                    </textarea>
                    <button type="button" class="btn btn-secondary float-end">Secondary</button>
                </div>
            
            </medev-card-simple>
        </div>

        <div class="row p-t-20">

            <medev-card-simple class="col-md-6">

                <div style="border-radius:10px ;">
                    <p class="form-group">Success Button</p>
                    <p class="fs-14">Refer to class <strong style="color: gray;">btn-success</strong> to get <strong style="color:gray;"> "Success" </strong>button styles</p>
                    <textarea disabled="true" style="width: 100%; height: 70px; overflow: hidden; resize: none;">
<button type="button" class="btn btn-success">
    Success
</button>
                    </textarea>
                    <button type="button" class="btn btn-success float-end">Success</button>
                </div>
            </medev-card-simple>

            <medev-card-simple class="col-md-6">

                <div style="border-radius:10px ;">
                    <p class="form-group">Danger Button</p>
                    <p class="fs-14">Refer to class <strong style="color: gray;">btn-danger</strong> to get <strong style="color:gray;"> "Danger" </strong>button styles</p>
                    <textarea disabled="true" style="width: 100%; height: 70px; overflow: hidden; resize: none;">
<button type="button" class="btn btn-danger">
    Danger
</button>
                    </textarea>
                    <button type="button" class="btn btn-danger float-end">Danger</button>
                </div>
            </medev-card-simple>

        </div>

        <div class="row p-t-20">

            <medev-card-simple class="col-md-6">
                <div style="border-radius:10px ;">
                    <p class="form-group">Warning Button</p>
                    <p class="fs-14">Refer to class <strong style="color: gray;">btn-warning</strong> to get <strong style="color:gray;"> "Warning" </strong>button styles</p>
                    <textarea disabled="true" style="width: 100%; height: 70px; overflow: hidden; resize: none;">
<button type="button" class="btn btn-warning">
    Warning
</button>
                    </textarea>
                    <button type="button" class="btn btn-warning float-end">Warning</button>
                </div>
            </medev-card-simple>

            <medev-card-simple class="col-md-6">
                <div style="border-radius:10px;">
                    <p class="form-group">Info Button</p>
                    <p class="fs-14">Refer to class <strong style="color: gray;">btn-info</strong> to get <strong style="color:gray;"> "Info" </strong>button styles</p>
                    <textarea disabled="true" style="width: 100%; height: 70px; overflow: hidden; resize: none;">
<button type="button" class="btn btn-info">
    Info
</button>
                    </textarea>
                    <button type="button" class="btn btn-info float-end">Info</button>
                </div>
            </medev-card-simple>

        </div>
          
        <div class="row p-t-20">

            <medev-card-simple class="col-md-6">
                <div style="border-radius:10px;">
                    <p class="form-group">Light Button</p>
                    <p class="fs-14">Refer to class <strong style="color: gray;">btn-light</strong> to get <strong style="color:gray;"> "Light" </strong>button styles</p>
                    <textarea disabled="true" style="width: 100%; height: 70px; overflow: hidden; resize: none;">
<button type="button" class="btn btn-light">
    Light
</button>
                    </textarea>
                    <button type="button" class="btn btn-light float-end">Light</button>
                </div>
            </medev-card-simple>

            <medev-card-simple class="col-md-6">
                <div style="border-radius:10px;">
                    <p class="form-group">Dark Button</p>
                    <p class="fs-14">Refer to class <strong style="color: gray;">btn-dark</strong> to get <strong style="color:gray;"> "Dark" </strong>button styles</p>
                    <textarea disabled="true" style="width: 100%; height: 70px; overflow: hidden; resize: none;">
<button type="button" class="btn btn-dark">
    Dark
</button>
                    </textarea>
                    <button type="button" class="btn btn-dark float-end">Dark</button>
                </div>
            </medev-card-simple>

        </div>



        <div class="row p-t-20">
            <medev-card-simple class="col-md-6">
                <div style="border-radius:10px ;">
                    <p class="form-group">Link Button</p>
                    <p class="fs-14">Refer to class <strong style="color: gray;">btn-link</strong> to get <strong style="color:gray;"> "Link" </strong>button styles</p>
                    <textarea disabled="true" style="width: 100%; height: 70px; overflow: hidden; resize: none;">
<button type="button" class="btn btn-link">
    Link
</button>
                    </textarea>
                    <button type="button" class="btn btn-link float-end">Link</button>
                </div>
            </medev-card-simple>

        </div>

</div>
    
