<h3 class="p-l-20 p-t-15">central page</h3>

<div class="container">
  <mefdev-central-page>

    <mefdev-central-page-row class="mb-sm-5">
      <div class="col-sm-12 col-md-3 text-end m-r-5">
        <span class="h3 ">Header</span>
      </div>
      <div class="col-4 separator">    
      </div>
    </mefdev-central-page-row>
  
    <mefdev-central-page-row>
      <div class="col-4 ">
        <div class="form-group pin-input">
          <label>Input</label>
          <input type="password" class="form-control " id="pin" name="pin">
        </div>
  
        <div>
          <label >Description</label>
        </div>
      </div>
  
      <div class="col-3">
        <button class="btn btn-success btn-cons m-t-20 float-start" style="margin-top: 27px;">
          Button
        </button>
      </div>
    </mefdev-central-page-row>
  
  </mefdev-central-page>
</div>
