<h1>Central Page</h1>

<mefdev-central-page>

  <mefdev-central-page-row class="mb-sm-5 align-items-center">
    <div class="col-sm-12 col-md-3 text-end pe-4">
      <span class="h3">Header</span>
    </div>
    <div class="col-4 separator"></div>
  </mefdev-central-page-row>

  <mefdev-central-page-row class="align-items-center">
    <div class="col-4">
      <div class="form-group">
        <label for="pin" class="fw-bold mb-2">PIN Input</label>
        <input type="password" class="form-control pin-input" id="pin" name="pin" placeholder="Enter your PIN">
      </div>
      <div>
        <label class="body-4 text-muted">Please enter your secure PIN to proceed with the operation.</label>
      </div>
    </div>
    <div class="col-3">
      <button class="btn btn-success btn-cons float-start" style="margin-top: 28px;">
        Confirm
      </button>
    </div>
  </mefdev-central-page-row>
  
</mefdev-central-page>
