<h1>Buttons</h1>

<div class="row g-4">

  <!-- Primary Button -->
  <div class="col-md-6">
    <mefdev-card-simple>
      <div class="p-3 pb-5">
        <p class="h3">Primary Button</p>
        <p class="body-4 mb-3">Refer to class <strong class="text-secondary">btn-primary</strong> to get <strong class="text-secondary">"Primary"</strong> button styles</p>
        <pre class="mb-3"><code>&lt;button type="button" class="btn btn-primary"&gt;
    Primary
&lt;/button&gt;</code></pre>
        <button type="button" class="btn btn-primary float-end">Primary</button>
      </div>
    </mefdev-card-simple>
  </div>

  <!-- Secondary Button -->
  <div class="col-md-6">
    <mefdev-card-simple>
      <div class="p-3 pb-5">
        <p class="h3">Secondary Button</p>
        <p class="body-4 mb-3">Refer to class <strong class="text-secondary">btn-secondary</strong> to get <strong class="text-secondary">"Secondary"</strong> button styles</p>
        <pre class="mb-3"><code>&lt;button type="button" class="btn btn-secondary"&gt;
    Secondary
&lt;/button&gt;</code></pre>
        <button type="button" class="btn btn-secondary float-end">Secondary</button>
      </div>
    </mefdev-card-simple>
  </div>

  <!-- Success Button -->
  <div class="col-md-6">
    <mefdev-card-simple>
      <div class="p-3 pb-5">
        <p class="h3">Success Button</p>
        <p class="body-4 mb-3">Refer to class <strong class="text-success">btn-success</strong> to get <strong class="text-success">"Success"</strong> button styles</p>
        <pre class="mb-3"><code>&lt;button type="button" class="btn btn-success"&gt;
    Success
&lt;/button&gt;</code></pre>
        <button type="button" class="btn btn-success float-end">Success</button>
      </div>
    </mefdev-card-simple>
  </div>

  <!-- Danger Button -->
  <div class="col-md-6">
    <mefdev-card-simple>
      <div class="p-3 pb-5">
        <p class="h3">Danger Button</p>
        <p class="body-4 mb-3">Refer to class <strong class="text-danger">btn-danger</strong> to get <strong class="text-danger">"Danger"</strong> button styles</p>
        <pre class="mb-3"><code>&lt;button type="button" class="btn btn-danger"&gt;
    Danger
&lt;/button&gt;</code></pre>
        <button type="button" class="btn btn-danger float-end">Danger</button>
      </div>
    </mefdev-card-simple>
  </div>

  <!-- Warning Button -->
  <div class="col-md-6">
    <mefdev-card-simple>
      <div class="p-3 pb-5">
        <p class="h3">Warning Button</p>
        <p class="body-4 mb-3">Refer to class <strong class="text-warning">btn-warning</strong> to get <strong class="text-warning">"Warning"</strong> button styles</p>
        <pre class="mb-3"><code>&lt;button type="button" class="btn btn-warning"&gt;
    Warning
&lt;/button&gt;</code></pre>
        <button type="button" class="btn btn-warning float-end">Warning</button>
      </div>
    </mefdev-card-simple>
  </div>

  <!-- Info Button -->
  <div class="col-md-6">
    <mefdev-card-simple>
      <div class="p-3 pb-5">
        <p class="h3">Info Button</p>
        <p class="body-4 mb-3">Refer to class <strong class="text-info">btn-info</strong> to get <strong class="text-info">"Info"</strong> button styles</p>
        <pre class="mb-3"><code>&lt;button type="button" class="btn btn-info"&gt;
    Info
&lt;/button&gt;</code></pre>
        <button type="button" class="btn btn-info float-end">Info</button>
      </div>
    </mefdev-card-simple>
  </div>

  <!-- Light Button -->
  <div class="col-md-6">
    <mefdev-card-simple>
      <div class="p-3 pb-5">
        <p class="h3">Light Button</p>
        <p class="body-4 mb-3">Refer to class <strong class="text-body-secondary">btn-light</strong> to get <strong class="text-body-secondary">"Light"</strong> button styles</p>
        <pre class="mb-3"><code>&lt;button type="button" class="btn btn-light"&gt;
    Light
&lt;/button&gt;</code></pre>
        <button type="button" class="btn btn-light float-end">Light</button>
      </div>
    </mefdev-card-simple>
  </div>

  <!-- Dark Button -->
  <div class="col-md-6">
    <mefdev-card-simple>
      <div class="p-3 pb-5">
        <p class="h3">Dark Button</p>
        <p class="body-4 mb-3">Refer to class <strong class="text-dark">btn-dark</strong> to get <strong class="text-dark">"Dark"</strong> button styles</p>
        <pre class="mb-3"><code>&lt;button type="button" class="btn btn-dark"&gt;
    Dark
&lt;/button&gt;</code></pre>
        <button type="button" class="btn btn-dark float-end">Dark</button>
      </div>
    </mefdev-card-simple>
  </div>

  <!-- Link Button -->
  <div class="col-md-6">
    <mefdev-card-simple>
      <div class="p-3 pb-5">
        <p class="h3">Link Button</p>
        <p class="body-4 mb-3">Refer to class <strong class="text-primary">btn-link</strong> to get <strong class="text-primary">"Link"</strong> button styles</p>
        <pre class="mb-3"><code>&lt;button type="button" class="btn btn-link"&gt;
    Link
&lt;/button&gt;</code></pre>
        <button type="button" class="btn btn-link float-end">Link</button>
      </div>
    </mefdev-card-simple>
  </div>

</div>
