<h3 class="p-l-20 p-t-15">slide-right</h3>
<div class="container">
  <p class="fs-30 p-t-10">Modal window "slide-right". By clicking on the "Show" button, you can see how it works.</p>
  <button type="button" class="btn btn-primary m-4" (click)="showModal()">Show</button>
<mefdev-slide-right-modal [show]="notificationModalIsShow" (isClouse)="notificationModalIsShow = false" #slideRight>
    <ng-template #modal_header>
      <span class="body-1 w-100">
        Slide Right modal
      </span> 
      <hr class="w-100" />
      <div class="pt-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores in illo placeat magni repellendus minima praesentium sapiente eos quas optio ad nisi laboriosam, rerum corrupti consectetur deleniti cupiditate hic? Incidunt!
      </div>
      <div class="pt-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores in illo placeat magni repellendus minima praesentium sapiente eos quas optio ad nisi laboriosam, rerum corrupti consectetur deleniti cupiditate hic? Incidunt!
      </div>
      <div class="pt-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores in illo placeat magni repellendus minima praesentium sapiente eos quas optio ad nisi laboriosam, rerum corrupti consectetur deleniti cupiditate hic? Incidunt!
      </div>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores in illo placeat magni repellendus minima praesentium sapiente eos quas optio ad nisi laboriosam, rerum corrupti consectetur deleniti cupiditate hic? Incidunt!
      </div>
    </ng-template>
</mefdev-slide-right-modal>
</div>

  
  

  <!-- <mefdev-slide-right-modal class="modal fade slide-right" tabindex="-1" role="dialog" aria-hidden="true" 
  #slideRight>
    <ng-template #modal_header>
      <span class="body-1 w-100">
        Alerts
      </span>
    </ng-template>
    
  </mefdev-slide-right-modal> -->
 
  