<h3 class="p-l-20 p-t-15">Switch</h3>

<div class="container">
  <p class="form-group">
    The Switch button has two states: on and off. You can view them by clicking
    this buttons
  </p>
  <div class="container">
    <div class="row">
      <medev-card-simple class="col-md-4 p-t-20">
        <div
          class="d-flex m-r-20"
          style="flex-direction: column; min-height: 200px"
        >
          <p class="form-group text-center">Common switch</p>
          <mefdev-switch
            [(ngModel)]="switches[0].value"
            (click)="onSwitchValueChange(0)"
            class="m-2 d-flex justify-content-center"
            Size="'big'"
            Color="'primary'"
            >
          </mefdev-switch>
        </div>
        <p class="text-center h3 color-Dark-Gray-1" style="border: solid 1px;">{{switches[0].value}}</p>
      </medev-card-simple>

      <medev-card-simple class="col-md-4 p-t-20">
        <div
          class="d-flex m-r-20"
          style="flex-direction: column; min-height: 200px"
        >
          <p class="form-group text-center">Size switch</p>
          <mefdev-switch
            [(ngModel)]="switches[1].value"
            (click)="onSwitchValueChange(1)"
            [Size]="'small'"
            class="m-2 d-flex justify-content-center"
            Size="'big'"
            Color="'primary'"
          >
          </mefdev-switch>
        </div>
        <p class="text-center h3 color-Dark-Gray-1" style="border: solid 1px;">{{switches[1].value}}</p>
      </medev-card-simple>

      <medev-card-simple class="col-md-4 p-t-20">
        <div
          class="d-flex m-r-20"
          style="flex-direction: column; min-height: 200px"
        >
          <p class="form-group text-center">Disabled switch</p>
          <mefdev-switch
            [(ngModel)]="switches[2].value"
            (click)="onSwitchValueChange(2)"
            Disabled
            class="m-2 d-flex justify-content-center"
            Size="'big'"
            Color="'primary'"
          >
          </mefdev-switch>
        </div>
        <p class="text-center h3 color-Dark-Gray-1" style="border: solid 1px;">{{switches[2].value}}</p>

      </medev-card-simple>

      <medev-card-simple class="col-md-4 p-t-20">
        <div
          class="d-flex m-r-20"
          style="flex-direction: column; min-height: 200px"
        >
          <p class="form-group text-center">Color switch</p>
          <mefdev-switch
            [(ngModel)]="switches[3].value"
            (click)="onSwitchValueChange(3)"
            [Color]="'warning'"
            class="m-2 d-flex justify-content-center"
            Size="'big'"
            Color="'primary'"
          >
          </mefdev-switch>
        </div>
        <p class="text-center h3 color-Dark-Gray-1" style="border: solid 1px;">{{switches[3].value}}</p>

      </medev-card-simple>
    </div>
  </div>
</div>
