  <h3 class="p-l-20 p-t-15">Card Component</h3>
<mefdev-table-page>
  <div class="row p-1 m-0 mt-3">
    <mefdev-card 
      class="col-xl-3 col-lg-4 col-md-6 p-10 b-color-Light-Gray-2 pt-3"
      [description] = "'Description'"
      [card_type]="'type'"
      [imgUrl]=""
      [img]="'assets/imgs/store/Frame 521.png'">
       <ng-template #card_title >
          <a class="header-link">
            <span class="body-1">
              name 
              <br/>
              <span class="body-1" style="visibility: hidden;"></span>
            </span>
          </a>
      </ng-template>

      <ng-template #card_footer>
        <div class="row">
          <div class="col-9">PRICE</div>
          <div class="col-3">SUBS</div>
        </div>
      </ng-template>
    </mefdev-card>

    <mefdev-card 
      class="col-xl-3 col-lg-4 col-md-6 p-10 b-color-Light-Gray-3 pt-3"
      [description] = "'Description'"
      [card_type]="'type'"
      [img]="'assets/imgs/store/Frame 521.png'">
       <ng-template #card_title >
          <a class="header-link">
            <span class="body-1">
              name 
              <br/>
              <span class="body-1" style="visibility: hidden;"></span>
            </span>
          </a>
      </ng-template>

      <ng-template #card_footer>
        <div class="row">
          <div class="col-9">PRICE</div>
          <div class="col-3">SUBS</div>
        </div>
      </ng-template>
    </mefdev-card>   
    
    <mefdev-card 
      class="col-xl-3 col-lg-4 col-md-6 p-10 b-color-Light-Gray-2 pt-3"
      [description] = "'Description'"
      [card_type]="'type'"
      [img]="'assets/imgs/store/Frame 521.png'">
       <ng-template #card_title >
          <a class="header-link">
            <span class="body-1">
              name 
              <br/>
              <span class="body-1" style="visibility: hidden;"></span>
            </span>
          </a>
      </ng-template>
      <ng-template #card_footer>
        <div class="row">
          <div class="col-9">PRICE</div>
          <div class="col-3">SUBS</div>
        </div>
      </ng-template>
    </mefdev-card>

    <mefdev-card 
      class="col-xl-3 col-lg-4 col-md-6 p-10 b-color-Light-Gray-3 pt-3"
      [description] = "'Description'"
      [card_type]="'type'"
      [img]="'assets/imgs/store/Frame 521.png'">
       <ng-template #card_title >
          <a class="header-link">
            <span class="body-1">
              name 
              <br/>
              <span class="body-1" style="visibility: hidden;"></span>
            </span>
          </a>
      </ng-template>

      <ng-template #card_footer>
        <div class="row">
          <div class="col-9">PRICE</div>
          <div class="col-3">SUBS</div>
        </div>
      </ng-template>
    </mefdev-card>
    <mefdev-card 
      class="col-xl-3 col-lg-4 col-md-6 p-10 b-color-Light-Gray-3 pt-3"
      [description] = "'Description'"
      [card_type]="'type'"
      [img]="'assets/imgs/store/Frame 521.png'">
       <ng-template #card_title >
          <a class="header-link">
            <span class="body-1">
              name 
              <br/>
              <span class="body-1" style="visibility: hidden;"></span>
            </span>
          </a>
      </ng-template>

      <ng-template #card_footer>
        <div class="row">
          <div class="col-9">PRICE</div>
          <div class="col-3">SUBS</div>
        </div>
      </ng-template>
    </mefdev-card>
  </div>
</mefdev-table-page>
